* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E2E7EC;
    padding: .5%;
}

.item {
    height: 540px;
    background: #ffffff;
}

.content {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 20px;
}

.item-big {
    grid-column: 1/-2;
    background-image: url(img/Layer8.png);
    padding: 48px;
    display: grid;
    align-content: end;
}

.item_text {
    padding: 24px;
}

.item_date {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(205, 201, 201);
    padding-bottom: 16px;
}



.item_heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 26px;
    line-height: 30px;
    color: #1D1D1D;
}

.item_heading_white {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 26px;
    line-height: 30px;
}

@media (max-width: 1023px) {
    body {
        padding: 0;
    }
}